textarea:focus {
    outline: none;
    box-shadow: none;
}
input:focus {
    outline: none;
    box-shadow: none;
}
.ProseMirror {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
  }

.ProseMirror:focus {
    outline: none;
}
.tiptap-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}